#myCanvas {
    height: 2em;
    width: 2em;
    border: 2px solid black;
}

#heartAnimation {
    height: 200px;
    width: 200px;
}

html { 
    background: url('/images/calm-body-of-water-1363876.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicImages {
    margin-top: 15px;
}

.image {
    width: 80vw;
    height: auto;
    min-height: 30vh;
    border-radius: 2px;
}

.slideshow {
    position: relative;
}

.buttonImg {
    cursor: pointer;
    position: absolute;
    top: 40%;
}

.buttonImg > button {
    width: 8vw;
    height: 13vw;
    background-color: rgba(0, 0, 0, 0.596);
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 2px;
    color: rgb(231, 231, 231);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    user-select: none;
    transition: 0.3s ease;
}

.captionTxt {
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 5px;
    background-color: black;
    padding: 2px 1px 1px 1px;
    color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-timing-function: ease;
    animation-name: fade;
    animation-duration: 1.4s;
    animation-timing-function: ease;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#nextButton {
    left: 100%;
    transform: translate(-8vw , 0);
}

#nextButton > button:hover {
    box-shadow: -2px 0px 4px 1px aquamarine;
    background-color: black;
}

#prevButton > button:hover {
    box-shadow: 2px 0px 4px 1px aquamarine;
    background-color: black;
}

.music {
    text-align: center;
}

audio {
    height: 25px;
    width: 75vw;
    max-width: 300px;
    min-width: 250px;
    outline: none;
    padding-top: 7px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .musicImages {
        align-self: flex-end;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

.slides {
    display: none;
}

.prompt {
    animation-name: prompt;
    animation-duration: 4s;
}

@keyframes prompt {

    0% {
        right: 0px;
    }

    50% {
        right: 50%;
    }

    100% {
        left: 0px;
    }

}
